<div style="text-align: left">
<input type="checkbox" ng-model="rx" style="margin: 15px;">
<span ng-click="rx=!rx" contentEditable="true" ng-model="value1[0].value_editing"
      style="background: #3CA1D9; color: white; cursor: default;     padding-left: 15px; padding-right: 15px; padding-top: 3px;
        padding-bottom: 3px;"></span>
</div>
<div ng-show="rx">
    <p contentEditable="true" ng-model="value1[1].value_editing"
       style="text-align: left; width: 100%; background: #a6a7973b; font-weight: 600; padding: 16px;"></p>
</div>
